<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Blogs | <%= status %></title>
</head>

  <body align='center'>
  <nav>
  <h1>Blogs</h1>
  <a href="/">Home</a><br>
  <a href="/Says">All Blogs</a><br>
  <a href="/says/create">Create Blog</a><br>
  <a href="/about">About</a>
  <h1> <%= status %> </h1>
</nav>

<br><br><br><br><footer>
------------------------------------------------Thank You----------------------------------------------
</footer>

  </body>
</html>
